<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Node</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="http://localhost:9090/home">Home</a></li>
            <li><a href="http://localhost:9090/perfil">Perfil</a></li>
            <li><a href="http://localhost:9090/graduacao">Graduação</a></li>
            <li><a href="http://localhost:9090/trabalho">Trabalho</a></li>
            <li><a href="http://localhost:9090/contato">Contato</a></li>
        </ul>
    </header>
    <h1>Você está na página contato</h1>
    <h1>Insira parâmetros na URL</h1>
    <h1>para modificar o conteúdo</h1>
    <h1>Celular: <%= celular %></h1>
    <h1>Telefone Fixo: <%= telefone %></h1>
    <h1>Email: <%= email %></h1>
</body>
</html>