<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>Você está na página principal</h1>
    <h1>do Portfolio insira parâmetros na</h1>
    <h1>URL das demais páginas para</h1>
    <h1>modificar o conteúdo delas</h1>
    <%- include('./partials/footer.ejs') %>
</body>
</html>